body{
    overflow: hidden;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
h1{
    margin: 30px 0;
}
h1, h2, h3{
    display: flex;
    justify-content: center;
}
.currIcons{
    width: 60px;
    height: 60px;
}
.line{
    width: 25%;
    color:lightgray;
}
.contain{
    display: flex; 
    flex-direction: row;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    width: 15%;

    background-color: rgb(255, 191, 94);
    border-right-width: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color:rgb(255, 191, 94);
}
.right{
    width: 85%;

    background-color:white;

    margin: 10px;
    border: 10px solid white;
    border-radius: 10px;
}
.Curr{
    width: 50%;
    margin: 0 auto;

    background-color: white;

    border: 10px solid white;
    border-radius: 10px;
}
.Curr p{
    width: 100%;
    
    color:mediumseagreen;
    font-size: 25px;
    text-align: center;
    margin: 15px 0;
}
.Curr h3{
    color: gray;
    margin-top: 0;
    margin-bottom: 15px;

    font-size: 20px;
}
.CurrIconCont{
    display:flex;
    justify-content: center;

    margin: 10px 0;
}
.selectint{
    display: inline;
    font-size: 25px;
    color: gray;
}
.sel{
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    color: gray;
}
.lastUpdate{
    display: flex;
    justify-content: center;
    
}
.plots{
    display: flex;
    justify-content: center;
    width: 100%;
}
.a{
    width: 50%;
    margin: 20px;

    border-width: 20px;
    border-color: white;
    border-radius: 20px;
}


/* Plotly */
.plot-container plotly{
    display: flex;
    justify-content: center;
}